# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directory
venv/
env/
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore the requirements.txt (optional, if you don’t want to version it)
requirements.txt
